textarea.form-control {
	resize: vertical;
	height: 15em;
}
table {
	thead {
		tr {
			th {

			}
		}
	}
	tbody {
		tr {
			td:first-child {
				.btn {
					margin-left: 10px;
				}
			}
			.btn {
				padding: 2px 5px;
			}
			td {
				.linked-document {
					//border-bottom: 1px solid green;
				}
			}
			td.actions {
				a {
					margin-right: 5px;
					padding: 1px 3px;
				}
			}
		}
		tr:nth-child(even) {
			background: #eee;
		}
		tr.selected {
			background: #dee !important;
		}
	}
}

.btn[data-action] {
	margin-left: 5px;
}

body.js {
	table {
		tbody {
			tr {
				cursor: pointer;
				td {
					a.edit-link {
						display: none;
					}
				}
			}
		}
	}
}