mixin menu(items, classes)
	ul(class=classes)
		each item in items
			if 'string' == typeof item[1]
				li
					a(href=item[1])=item[0]
			else
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href='#')
						=item[0]
						span.caret
					span.dropdown-arrow
						
					+menu(item[1], 'dropdown-menu')

mixin displayActions(actions, opts)
	- opts = opts || {}
	each actionName in actions
		if 'object' == typeof actionName
			- var action = actionName
			a(href=mountPath+action.href.replace('{$row.id}', opts.row.id))=action.label

		else
			- var action = model.actions[actionName]
			- var display = true
			- if (opts.displayCB)
				- display = opts.displayCB(action)

			if display
				button.btn.btn-primary.btn-sm(data-action=actionName)=t(actionName)


mixin getViewBlock(blockName)
	!=getViewBlock(blockName)
	